body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-white: #fff;
  --color-white-light: rgba(255, 255, 255, 0.836);

  --color-green: #000627;
  --color-black: #111111;
  --color-green-hover: #269258;
  --color-navbar: rgba(255, 255, 255, 0.7);
}

