body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* white colours */
  --color-white: #fff;
  --color-white-dark: rgb(179, 179, 179);

  /* navy colours */
  --color-blue: #000629;
  --color-blue-dark: #000314;

  /* yellow colours */
  --color-yellow: #F6AE2D;
}

