.myButton {
    background-color: var(--color-blue);
    border-radius: 0.5rem;
    padding: 0.55rem 1.9rem;
    font-weight: 600;
    max-width: 10rem;
    height: 3rem;
    border: 2px solid  var(--color-blue);
}

.myButton:hover {
    background-color: #fff;
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
}

.myButton:active,
.myButton:focus {
  box-shadow: none !important;
  background-color: var(--color-blue);
  border: 2px solid  var(--color-blue);
  color: var(--color-white);
}


